

.title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}

.header-sub {
    margin-bottom: 1em;
}

.listing {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.picture-box {
    display: flex;
    flex-direction: row;
    height: 30em;
}

.main-picture {
    flex: 2;
    margin-right: 1em;
}

.sub-pictures {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

}

.upper-sub-pic,.lower-sub-pic {
    height: 14.5em;
}

.listing-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0% 10% 10% 0%;
}

#bigpic {
    border-radius: 10% 0% 0% 10%;
}


.text-box {
    display: flex;
    flex-direction: row;
    
}